body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.switch-on {
    color: white;
    background-color:green;
    text-align:center;
}

.switch-off {
    color: black;
    background-color: gray;
    text-align: center;
}

a.my-class {
    color: #333333
}

a.my-class:active {
    color: #666666
    }

a.my-class:link {
        color: #999999
    }

a.my-class:visited {
        color: #CCCCCC
    }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
